sbg4
*.[oa]
*.l[ao]
*.tar.gz
*~
.deps
.libs
autom4te.cache
INSTALL
Makefile
Makefile.in
aclocal.m4
autoconfig.h
autoconfig.h.in
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
